main{
    width: fit-content;
    position: relative;
    
    background-color: rgb(138, 138, 138);
}

.family-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    gap: 30px;
}

.TopRowPic{
    max-width: 500px;
    max-height: 500px;
    height: auto;
    border: 2px solid black;
}
.fam-img-container{
    display: flex;
    justify-content: center;
}

.BottomRowPic{
    max-width: 500px;
    max-height: 500px;
    border: 2px solid black;
}

.family-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background: white;
    border: 2px solid black;
   
    padding-bottom:50px;
}
.family-card:hover{
   background-color: goldenrod;
   color: white;
}
.fam-title{
    display: flex;
    justify-content: center;
    padding-bottom:10px;
    font-size: 20pt;
    font-style: oblique;
}
.fam-description{
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    font-family: monospace;
    font-size: 15pt;
}
